{% extends 'base.html.twig' %}

{% block titre %} {{ livre.nom }} {% endblock %}

{% block contenu %}
  {% if not isModification %}
    <form action="" method="POST">
      <div class="row m-2">
        <div class="col-6">
          <h2>Informations :</h2>
          <div>Auteur : {{ livre.nom }}</div>
          <div>Nombre de page : {{ livre.pages }}</div>
          <img src="https://picsum.photos/200/200" alt="">
        </div>
        <div class="col-6">
          <h2>Résumé</h2>
        </div>
      </div>
    </form>
  {% else %}
    <form method="POST" action="/livres/modificationServer">
      <div class="row m-2">
        <div class="col-6">
          <h2>Informations</h2>
          <div class="form-group">
            <label for="titre">Titre</label>
            <input type="text" class="form-control" id="titre" name="titre" value="{{ livre.nom }}">
          </div>
          <div class="form-group">
            <label for="auteur">Auteur</label>
            <input type="text" class="form-control" id="auteur" name="auteur" value = "{{ livre.auteur }}">
          </div>
          <div class="form-group">
            <label for="pages">Pages</label>
            <input type="number" class="form-control" id="pages" name="pages" value="{{ livre.pages }}">
          </div>
        </div>
        <div class="col-6">
          <h2>Résumé</h2>
          <div class="form-group">
            <label for="description">Description</label>
            <textarea class="form-control" id="description" name="description">{{ livre.description }}</textarea>
          </div>
        </div>
      </div>
      <input type="hidden" name="id" value="{{ livre.id }}">
      <input type="submit" value="valider" class="btn btn-primary w-100">
    </form>
  {% endif %}
{% endblock %}